<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293418455265-m3s2tr754akrjdnmlo9o5mqu6fq56kc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293418455265-m3s2tr754akrjdnmlo9o5mqu6fq56kc6</string>
	<key>API_KEY</key>
	<string>AIzaSyCTruSV0orX9SCc4yeWB-cNs1jt_hCegqU</string>
	<key>GCM_SENDER_ID</key>
	<string>293418455265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Team15-App-V1</string>
	<key>PROJECT_ID</key>
	<string>team15-project-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>team15-project-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293418455265:ios:30f82b39f60a933008a7a0</string>
</dict>
</plist>